<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport mode="side" opened>
    <mat-toolbar class="sidenav-header">
      <img src="../../assets/logo.png" alt="Logo" class="logo" />
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/messages" routerLinkActive="active">
        <mat-icon>message</mat-icon>
        <span>Messages</span>
      </a>
      <a mat-list-item routerLink="/partners" routerLinkActive="active">
        <mat-icon>business</mat-icon>
        <span>Partenaires</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>MQ Messages Manager</span> -->
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()" title="Déconnexion">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
